.header {
    background-color: #8cc63e !important;
    height: 70px;
}

.logo {
    width: 250px;
    height: auto;
}

.list {
    max-width: 900 !important;
    margin: 0 auto !important;
}

.articleItem {
    padding: 30px !important;
}

.gridColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.listDescription {
    margin: 20px 0;
}

.searchContainer {
    display: flex;
    justify-content: center;
}

.searchButton {
    border-color: #2c6839;
    background-color: #2c6839;
    color: #fff;
}

.searchTags {
    text-align: center;
    margin-top: 20 !important;
}
