.header {
    background-color: #8cc63e !important;
    height: 70px;
}

.logo {
    width: 250px;
    height: auto;
}

.list {
    max-width: 900 !important;
    margin: 0 auto !important;
}

.articleItem {
    padding: 30px !important;
}

.gridColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.listDescription {
    margin: 20px 0;
}
